.corbeille-page {
  padding: 40px;
  text-align: center;
  background: #0a1c3a;
  min-height: 100vh;
  color: white;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.controls input,
.controls select {
  width: 45%;
  padding: 14px;
  background: #0d1f3f;
  border: 1px solid #1b2a4e;
  color: white;
  border-radius: 12px;
  outline: none;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 280px;
  background: #101d33;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #1b2a4e;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.badge.urgente {
  background: #ff4757;
}

.badge.moyenne {
  background: #ffa502;
}

.badge.basse {
  background: #2ecc71;
}

.desc {
  background: #0d1627;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.status {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #cccccc;
}

.state {
  background: #1f2740;
  padding: 4px 10px;
  border-radius: 6px;
}

.btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.restore {
  flex: 1;
  background: #2ecc71;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete {
  flex: 1;
  background: #ff4757;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
